.App {
  display: flex;
  flex-direction: column;
}

.head {
  height: 30vh;
  width: 100%;
}

.game {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.tubes {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 2 / 3;
}

.steps {
  height: 100%;
}

.text-white {
  color: white;
  font-weight: bold;
  font-size: 55px;
  text-align: center;
}
